mixin langs
    +menu-item('#en', 'ENG').main-lang&attributes(attributes)
    +menu-item('#de', 'DE').main-lang&attributes(attributes)
    +menu-item('#fr', 'FR').main-lang&attributes(attributes)
    +menu-item('#ru', 'РУС').main-lang&attributes(attributes)
    +menu-item('#ch', '中文').main-lang&attributes(attributes)
    +menu-item('#ar', 'لعربية').main-lang&attributes(attributes)