mixin langs
    +menu-item('/en', 'ENG')&attributes(attributes)
    +menu-item('/de', 'DE')&attributes(attributes)
    +menu-item('/fr', 'FR')&attributes(attributes)
    +menu-item('/es', 'ES')&attributes(attributes)
    +menu-item('/ru', 'РУС')&attributes(attributes)
    +menu-item('/ch', '中文')&attributes(attributes)
    +menu-item('/ar', 'لعربية')&attributes(attributes)