mixin social-icons
    .text-center&attributes(attributes)
        a(href='#').cs-social.cs-bitcointalk
        a(href='#').cs-social.cs-mail
        a(href='#').cs-social.cs-facebook
        a(href='#').cs-social.cs-twitter
        a(href='#').cs-social.cs-github