.navbar {
    margin-bottom: 0;
}

.navbar-default {
    background-color: white;
    border-color: transparent;
    border-radius: 0;
}

.navbar-header {
    min-height: 50px;
}

.navbar-header .navbar-toggle {
    margin-top: 8px;
}

.navbar-default .navbar-nav > li > a {
    color: #555;
    line-height: 30px;
}

.navbar .container {
    width: 100%;
}

.navbar .navbar-toggle {
    border: 0;
}

body {
    background-color: #555;
}

.rp-footer {
    padding: 50px 0;
    color: white;
    background-color: #555;
}

.rp-footer a {
    color: white;
}

.rp-footer .cs-copyright-col {
    text-align: center;
    padding-top: 40px;
}

.rp-footer .cs-copyright {
    font-size: 150%;
}

.rp-content {
    background-color: white;
}

.rp-hello-container {
    height: calc(100vh - 64px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rp-hello-container .rp-hello-spacer {
    flex: 2;
}

.rp-hello-container .rp-hello {
    font-size: 700%;
    margin-top: 0;
}

.rp-hello-container .rp-hello-hint {
    flex: 3;
}

.rp-hello-container .rp-go-down {
    padding-bottom: 15px;
    cursor: pointer;
    color: #555;
}

.rp-about {
    border-top: 2px solid #555;
}

.rp-about .rp-diagram {
    width: 50%;
}

.rp-about h2 {
    margin-top: 120px;
}

@media (max-width: 767px) {
    .rp-hello-container {
        height: calc(100vh - 50px);
    }

    .rp-hello-container .rp-hello {
        font-size: 250%;
        margin-top: 0;
    }

    .rp-about .rp-diagram {
        width: 100%;
    }
}

.cs-social {
    width: 85px;
    height: 85px;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

.cs-social.cs-facebook {
     background: url('../img/facebook.svg') no-repeat;
     background-size: 85px;
}

.cs-social.cs-twitter {
     background: url('../img/twitter.svg') no-repeat;
     background-size: 85px;
}

.cs-social.cs-mail {
     background: url('../img/mail.svg') no-repeat;
     background-size: 85px;
}

.cs-social.cs-bitcointalk {
     background: url('../img/bitcointalk.svg') no-repeat;
     background-size: 85px;
}

.cs-social.cs-github {
     background: url('../img/github.svg') no-repeat;
     background-size: 85px;
}